<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Jasmine Spec Runner</title>

  <% with (scripts) { %>
  <% [].concat(jasmine, vendor, helpers).forEach(function(script){ %>
  <script src="<%= script %>"></script>
  <% }) %>
  <% }; %>

  <script src="<%= temp %>/curl.js"></script>
  <script>
    <% if (options.curlConfig) { %>
      curl.config(<%= JSON.stringify(options.curlConfig) %>);
    <% } %>
    curl.config({
      paths: {
        'grunt': '.grunt'
      }
    });
  </script>
  <% css.forEach(function(style){ %>
  <link rel="stylesheet" type="text/css" href="<%= style %>">
  <% }) %>
  <script>
    curl([
      <% scripts.src.forEach(function(script, i){ %>
      <% if (options.curlConfig && options.curlConfig.baseUrl) script = script.replace(new RegExp('^' + options.curlConfig.baseUrl),""); %>
      <% if (options.loaderPlugin) script = options.loaderPlugin + '!' + script %>
        '<%= script.replace(/\.js$/,"") %>' <%= i < scripts.src.length-1 ? ',' : '' %>
        <% }) %>
    ],
    function(){
      curl(['<%= [].concat(scripts.specs,scripts.reporters).join("','") %>'], function(){
        curl(['<%= scripts.start.join("','") %>'], function(){
          // good to go! Our tests should already be running.
        })
      })
    }
    )
  </script>
</head>
<body>
</body>
</html>
