<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Jasmine Spec Runner</title>

  <% with (scripts) { %>
  <% [].concat(jasmine, vendor).forEach(function(script){ %>
  <script src="<%= script %>"></script>
  <% }) %>
  <% }; %>

  <% with (scripts) { %>
  <% [].concat(boot, helpers, reporters).forEach(function(script){ %>
  <script src="<%= script %>"></script>
  <% }) %>
  <% }; %>

  <script>
    var _config = {paths:{}};
    <% if (options.curlConfig) { %>
      _config = <%= JSON.stringify(options.curlConfig) %>;
    <% } %>
    _config.paths['grunt'] = '.grunt';
    curl = _config;

    // Delay onLoad function until we are ready
    var startTests = window.onload;
    window.onload = null;

  </script>


  <script src="<%= temp %>/curl.js"></script>

  <% css.forEach(function(style){ %>
  <link rel="stylesheet" type="text/css" href="<%= style %>">
  <% }) %>
  <script>
    curl([
      <% scripts.src.forEach(function(script, i){ %>
      <% if (options.curlConfig && options.curlConfig.baseUrl) script = script.replace(new RegExp('^' + options.curlConfig.baseUrl),""); %>
      <% if (options.loaderPlugin) script = options.loaderPlugin + '!' + script %>
        '<%= script.replace(/\.js$/,"") %>' <%= i < scripts.src.length-1 ? ',' : '' %>
        <% }) %>
    ],
    function(){
      curl(['<%= scripts.specs.join("','") %>'], function(){
        // good to go! Our tests should already be running.
        startTests();
      })
    })
  </script>
</head>
<body>
</body>
</html>

